@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* background: url('public/dropdown.svg') no-repeat center right -20px;
  background-size: 10px; */
}
#meet {
  height: 100vh;
}
.first {
  background-color: #f1001a;
  color: white;
  border-radius: 40px;
  width: 32px;
  height: 30px;
  /* border: #f1001a; */
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  font-family: DM Sans;
}
